name: ${COMPOSE_PROJECT_NAME:-adrianoribeiro700010}

services:
  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: artistasdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data


  minio:
    image: minio/minio:RELEASE.2025-03-12T18-04-18Z-cpuv1
    container_name: minio
    restart: always
    ports:
      - "9000:9000"   # API
      - "9001:9001"   # Console web
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - miniodata:/data


volumes:
  postgres_data:
  miniodata: